<a href="https://colab.research.google.com/github/CaperKen/M733_Fall_2020/blob/master/M731_TU_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
data = pd.read_csv('UtilizedPlatforms.csv')

In [ ]:
df = data

In [ ]:
print(df)

     Twitter  Facebook  YouTube  Instagram  TikTok  Reddit  None of the above
0        NaN       NaN      NaN        NaN     NaN     NaN                NaN
1        0.0       0.0      1.0        0.0     0.0     0.0                0.0
2        0.0       0.0      1.0        0.0     0.0     0.0                0.0
3        NaN       NaN      NaN        NaN     NaN     NaN                NaN
4        0.0       0.0      1.0        0.0     0.0     0.0                0.0
..       ...       ...      ...        ...     ...     ...                ...
126      NaN       NaN      NaN        NaN     NaN     NaN                NaN
127      NaN       NaN      NaN        NaN     NaN     NaN                NaN
128      NaN       NaN      NaN        NaN     NaN     NaN                NaN
129      NaN       NaN      NaN        NaN     NaN     NaN                NaN
130      0.0       1.0      0.0        1.0     0.0     0.0                0.0

[131 rows x 7 columns]

In [ ]:
import math
df = df.dropna()
df = df.astype(int)
print(df)

     Twitter  Facebook  YouTube  Instagram  TikTok  Reddit  None of the above
1          0         0        1          0       0       0                  0
2          0         0        1          0       0       0                  0
4          0         0        1          0       0       0                  0
6          0         0        0          1       0       1                  0
9          1         0        1          0       0       0                  0
11         0         0        1          1       1       0                  0
13         0         0        0          1       0       0                  0
14         0         0        1          0       0       0                  0
16         0         0        0          1       0       0                  0
17         0         0        1          1       0       0                  0
19         0         0        1          0       0       0                  0
22         0         0        1          0       0       0                  0
27         0         0        0          1       0       0                  0
29         0         1        1          1       0       0                  0
30         0         0        0          1       1       0                  0
33         0         0        1          0       0       0                  0
34         0         0        1          1       0       0                  0
36         0         0        0          1       0       0                  0
37         0         0        0          1       0       0                  0
38         0         0        1          1       0       0                  0
41         0         1        1          1       0       0                  0
42         0         0        1          1       0       0                  0
43         0         0        1          1       0       0                  0
45         0         1        0          1       0       0                  0
46         0         0        1          1       0       0                  0
48         0         0        1          0       0       0                  0
50         1         0        0          1       0       0                  0
51         0         0        0          1       1       0                  0
52         0         0        0          1       0       0                  0
53         0         0        1          1       0       0                  0
55         0         0        0          1       0       0                  0
64         0         0        0          1       0       0                  0
69         0         0        0          1       0       0                  0
71         0         0        0          1       0       0                  0
72         0         1        0          0       0       0                  0
78         0         0        1          1       0       0                  0
82         0         0        1          1       0       0                  0
87         0         1        0          0       0       0                  0
90         1         0        0          0       0       0                  0
91         0         0        0          1       0       0                  0
92         0         0        1          0       0       0                  0
93         0         0        1          1       1       0                  0
96         0         0        0          1       0       0                  0
106        0         0        0          1       0       0                  0
108        0         0        0          1       0       0                  0
111        0         0        1          1       0       0                  0
124        0         0        1          1       0       0                  0
130        0         1        0          1       0       0                  0

In [ ]:
frequencySets = apriori(df, min_support=0.01, use_colnames=True)
print(frequencySets)

     support                        itemsets
0   0.062500                       (Twitter)
1   0.125000                      (Facebook)
2   0.520833                       (YouTube)
3   0.729167                     (Instagram)
4   0.083333                        (TikTok)
5   0.020833                        (Reddit)
6   0.020833              (YouTube, Twitter)
7   0.020833            (Instagram, Twitter)
8   0.041667             (Facebook, YouTube)
9   0.083333           (Facebook, Instagram)
10  0.312500            (Instagram, YouTube)
11  0.041667               (YouTube, TikTok)
12  0.083333             (Instagram, TikTok)
13  0.020833             (Instagram, Reddit)
14  0.041667  (Facebook, Instagram, YouTube)
15  0.041667    (Instagram, YouTube, TikTok)

the next question starts from here

In [ ]:
data1 = pd.read_csv('/content/PromoType.csv')
df1 = data1

In [ ]:
df1 = df1.dropna()
df1 = df1.astype(int)

print(df1)

     P_Dis  Giveaway  BOGO  F_Samples  F_ship  Contest  no_dis  Other  None
1        1         0     0          0       1        0       1      0     0
2        1         1     0          1       0        1       0      0     0
4        1         1     0          0       0        0       0      0     0
6        1         1     1          1       1        1       1      0     0
9        1         0     1          1       1        1       0      0     0
11       1         1     1          1       1        1       1      0     0
13       0         0     0          1       0        0       1      0     0
14       1         0     0          0       0        0       0      0     0
16       1         1     0          1       1        1       0      0     0
17       0         1     0          0       1        0       1      0     0
19       1         1     0          1       0        0       0      0     0
22       1         0     1          0       0        0       0      0     0
27       1         1     0          0       0        0       0      0     0
29       1         0     0          0       0        0       0      0     0
30       1         1     1          0       1        0       0      0     0
33       1         1     0          0       0        0       0      0     0
34       1         0     0          0       0        0       1      0     0
36       0         0     0          0       0        1       0      0     0
37       1         0     0          0       0        1       0      0     0
38       1         1     1          0       0        0       0      0     0
41       1         0     0          0       0        0       0      0     0
42       1         1     1          0       0        0       1      0     0
43       1         1     1          1       1        0       0      0     0
45       1         1     1          1       1        1       1      0     0
46       0         1     0          0       0        0       0      0     0
48       1         0     0          1       0        0       0      0     0
50       1         1     1          1       1        1       1      0     0
51       1         0     0          1       1        0       1      0     0
52       0         0     0          0       0        0       1      0     0
53       1         1     0          1       1        1       0      0     0
55       0         0     0          1       0        0       0      0     0
64       0         1     0          0       0        1       1      0     0
69       1         0     0          0       0        0       0      0     0
71       1         0     0          0       0        0       0      0     0
72       0         0     0          0       0        0       1      0     0
78       1         0     0          0       0        0       0      0     0
82       1         0     1          0       0        0       0      0     0
87       0         1     1          0       0        1       0      0     0
90       1         0     0          0       0        0       0      0     0
91       0         1     1          0       1        0       0      0     0
92       1         1     0          1       0        0       0      0     0
93       1         1     0          1       1        0       0      0     0
96       0         1     0          1       0        1       0      0     0
106      1         0     0          0       1        0       0      0     0
108      1         1     0          1       0        1       0      0     0
111      0         1     1          1       1        1       1      0     0
124      1         1     1          0       0        0       1      0     0
130      1         1     1          1       0        1       1      0     0

In [ ]:
frequencySets1 = apriori(df1, min_support=0.30, use_colnames=True)
print(frequencySets1)

    support               itemsets
0  0.750000                (P_Dis)
1  0.562500             (Giveaway)
2  0.333333                 (BOGO)
3  0.416667            (F_Samples)
4  0.333333               (F_ship)
5  0.333333              (Contest)
6  0.333333               (no_dis)
7  0.416667      (P_Dis, Giveaway)
8  0.333333     (F_Samples, P_Dis)
9  0.312500  (F_Samples, Giveaway)